.import-button-container {
    position: fixed;
    bottom: 50px;
    right: 20px;
    z-index: 9999;
}

.import-button {
    background-color: #8e10e7;
    color: white;
    border: none;
    padding: 8px 10px;
    font-size: 14px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.import-button:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);  /* Bóng đổ khi hover */
}
.import-button.loading {
    opacity: 0.5; 
    pointer-events: none; 
    cursor:no-drop; 
}